.charts {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
 .info-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: 800px;
  }
  .profile {
    width: 300px;
  }

  .text-format {
    text-align: center; 
    font-family:'Helvetica'; 
    font-weight: lighter;
  }




